<header>
  <div class="container">
    <nav>
      <ul>
        <li><%= link_to "Home", books_path %></li>
        <li><%= link_to "Contribute", new_book_path %></li>
      </ul>
    </nav>
  </div>
</header>
